In [9]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [10]:
csvpath = "Resources/whale.csv"
whale_df = pd.read_csv(csvpath)
whale_df.head()
whale_df.sort_index

<bound method DataFrame.sort_index of             Date  SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
0     2015-03-02                        NaN                 NaN
1     2015-03-03                  -0.001266           -0.004981
2     2015-03-04                   0.002230            0.003241
3     2015-03-05                   0.004016            0.004076
4     2015-03-06                  -0.007905           -0.003574
...          ...                        ...                 ...
1055  2019-04-25                  -0.000285           -0.001291
1056  2019-04-26                   0.008149            0.009162
1057  2019-04-29                   0.001254            0.002719
1058  2019-04-30                  -0.001295           -0.002211
1059  2019-05-01                  -0.005847           -0.001341

      TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
0                             NaN                     NaN
1                       -0.000496               -0.006569
2                       -0.002534                0.004213
3                        0.002355                0.006726
4                       -0.008481               -0.013098
...                           ...                     ...
1055                    -0.005153                0.004848
1056                     0.012355                0.010434
1057                     0.006251                0.005223
1058                    -0.000259               -0.003702
1059                    -0.007936               -0.007833

[1060 rows x 5 columns]>

In [11]:
whale_df.shape

(1060, 5)

In [12]:
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [13]:
whale_df.dropna(inplace = True)
whale_df.head()
whale_df.sort_index

<bound method DataFrame.sort_index of             Date  SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
1     2015-03-03                  -0.001266           -0.004981
2     2015-03-04                   0.002230            0.003241
3     2015-03-05                   0.004016            0.004076
4     2015-03-06                  -0.007905           -0.003574
5     2015-03-09                   0.000582            0.004225
...          ...                        ...                 ...
1055  2019-04-25                  -0.000285           -0.001291
1056  2019-04-26                   0.008149            0.009162
1057  2019-04-29                   0.001254            0.002719
1058  2019-04-30                  -0.001295           -0.002211
1059  2019-05-01                  -0.005847           -0.001341

      TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
1                       -0.000496               -0.006569
2                       -0.002534                0.004213
3                        0.002355                0.006726
4                       -0.008481               -0.013098
5                        0.005843               -0.001652
...                           ...                     ...
1055                    -0.005153                0.004848
1056                     0.012355                0.010434
1057                     0.006251                0.005223
1058                    -0.000259               -0.003702
1059                    -0.007936               -0.007833

[1059 rows x 5 columns]>

In [14]:
csvpath = "Resources/ALGO.csv"
algo_df = pd.read_csv(csvpath)
algo_df.head()
algo_df.sort_index

<bound method DataFrame.sort_index of             Date    Algo 1    Algo 2
0     2014-05-28  0.001745       NaN
1     2014-05-29  0.003978       NaN
2     2014-05-30  0.004464       NaN
3     2014-06-02  0.005692       NaN
4     2014-06-03  0.005292       NaN
...          ...       ...       ...
1236  2019-04-25  0.000682 -0.007247
1237  2019-04-26  0.002981  0.005256
1238  2019-04-29  0.005208  0.002829
1239  2019-04-30 -0.002944 -0.001570
1240  2019-05-01  0.000094 -0.007358

[1241 rows x 3 columns]>

In [15]:
algo_df.shape

(1241, 3)

In [16]:
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [17]:
algo_df.dropna(inplace = True)
algo_df.head()
algo_df.sort_index

<bound method DataFrame.sort_index of             Date    Algo 1    Algo 2
6     2014-06-05  0.004062  0.013285
7     2014-06-06  0.001857  0.008284
8     2014-06-09 -0.005012  0.005668
9     2014-06-10  0.004406 -0.000735
10    2014-06-11  0.004760 -0.003761
...          ...       ...       ...
1236  2019-04-25  0.000682 -0.007247
1237  2019-04-26  0.002981  0.005256
1238  2019-04-29  0.005208  0.002829
1239  2019-04-30 -0.002944 -0.001570
1240  2019-05-01  0.000094 -0.007358

[1235 rows x 3 columns]>

In [18]:
algo_df.sample(10)

            Date    Algo 1    Algo 2
367   2015-11-09 -0.001401 -0.010065
837   2017-09-21 -0.003300  0.001340
1119  2018-11-02  0.003611 -0.001046
553   2016-08-05  0.003596  0.004152
366   2015-11-06 -0.011657  0.003996
757   2017-05-30 -0.012335 -0.005713
720   2017-04-05 -0.004726 -0.006342
296   2015-07-30 -0.002263  0.002934
907   2018-01-02  0.001254  0.017222
694   2017-02-28 -0.001108 -0.008883

In [19]:
csvpath = "Resources/SP500.csv"
SP500_df = pd.read_csv(csvpath, index_col = "Date", infer_datetime_format = True, parse_dates = True)
SP500_df.head()

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06

In [20]:
SP500_df.dtypes

Close    object
dtype: object

In [21]:
SP500_df["Close"] = SP500_df["Close"].str.replace("$", "").astype("float")
SP500_df.sample(5)

              Close
Date
2017-05-23  2398.42
2017-10-24  2569.13
2013-06-26  1603.26
2017-08-02  2477.57
2015-06-29  2057.64

In [22]:
SP500_df.dtypes

Close    float64
dtype: object

In [23]:
#Keeping CLose column, but adding D.returns

SP500_df["Daily Returns"] = SP500_df["Close"].pct_change()
SP500_df.sample(5)

              Close  Daily Returns
Date
2017-12-13  2662.85       0.004087
2017-06-08  2433.79       0.000831
2015-06-10  2105.20      -0.001736
2013-03-14  1563.23       0.001621
2018-03-06  2728.12       0.000484